body {
    margin: 0 auto;
    text-align: center;
    background-image: url("./favicon_io/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
}

#welcome_head {
    display: grid;
    text-align: center;
    width: auto;
    height: auto;   
}

.welcome {
    font-size: smaller;
}

#my_pic {
    align-items: center;
    padding: 0 50px 0px 0px;
}

#connect_message {
    text-align: center;
}

.contact_form {
    /* display: grid; */
    justify-content: center;
    margin: 2em;
    /* padding-left: 20px; */
    max-width: auto;
    max-height: auto;
    background-color: white;
    /* border-radius: 50px; */
    padding: 50px;
    /* grid-template-columns: 2 fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr 0.5fr 1fr; */
}

#firstName {
    grid-column: 1;
    grid-row: 1;
}

#lastName {
    grid-column: 1;
    grid-row: 2;
}

#email {
    grid-column: 1;
    grid-row: 3;
}

#number {
    grid-column: 1;
    grid-row: 4;
}

#comments {
    grid-column: 1 / span 2;
    grid-row: 5;
}

#input {
    grid-column: 1;
    grid-row: 6;
}

#checkBox {
    grid-column: 1;
    grid-row: 7;
}

#submit {
    grid-column: 1;
    grid-row: 8;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

/* .column {
    flex: 30%;
    max-width: 30%;
    height: auto;
} */

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}